nv:
  global:
    - CC_TEST_REPORTER_ID=5779741f84b94f962138194592b1d6a3036b6b49ae0b800c4d75fea1ef4460c0
language: ruby
rvm:
  - 2.5.1
git:
  depth: false
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
